
<div *ngIf="reportparameter">
    <h2><span jhiTranslate="gatewayApp.reportparameter.detail.title">Reportparameter</span> {{reportparameter.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.reportparameter.label">Label</span></dt>
        <dd>
            <span>{{reportparameter.label}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.reportparameter.instructions">Instructions</span></dt>
        <dd>
            <span>{{reportparameter.instructions}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.reportparameter.datatype">Datatype</span></dt>
        <dd>
            <span>{{reportparameter.datatype}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.reportparameter.required">Required</span></dt>
        <dd>
            <span>{{reportparameter.required}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.reportparameter.minlength">Minlength</span></dt>
        <dd>
            <span>{{reportparameter.minlength}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.reportparameter.maxlength">Maxlength</span></dt>
        <dd>
            <span>{{reportparameter.maxlength}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.reportparameter.validation">Validation</span></dt>
        <dd>
            <span>{{reportparameter.validation}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.reportparameter.status">Status</span></dt>
        <dd>
            <span>{{reportparameter.status}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.reportparameter.lastmodifiedby">Lastmodifiedby</span></dt>
        <dd>
            <span>{{reportparameter.lastmodifiedby}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.reportparameter.domain">Domain</span></dt>
        <dd>
            <span>{{reportparameter.domain}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.reportparameter.lastmodifieddatetime">Lastmodifieddatetime</span></dt>
        <dd>
            <span>{{reportparameter.lastmodifieddatetime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.reportparameter.report">Report</span></dt>
        <dd>
            <div *ngIf="reportparameter.report">
                <a [routerLink]="['/report', reportparameter.report?.id]">{{reportparameter.report?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'reportparameter/'+ reportparameter.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
