<div>
    <h2>
        <span jhiTranslate="gatewayApp.reportparameter.home.title">Reportparameters</span>
        <button class="btn btn-primary float-right create-reportparameter" [routerLink]="['/', { outlets: { popup: ['reportparameter-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.reportparameter.home.createLabel">
            Create new Reportparameter
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.reportparameter.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="reportparameters">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="label"><span jhiTranslate="gatewayApp.reportparameter.label">Label</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="instructions"><span jhiTranslate="gatewayApp.reportparameter.instructions">Instructions</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="datatype"><span jhiTranslate="gatewayApp.reportparameter.datatype">Datatype</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="required"><span jhiTranslate="gatewayApp.reportparameter.required">Required</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="minlength"><span jhiTranslate="gatewayApp.reportparameter.minlength">Minlength</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="maxlength"><span jhiTranslate="gatewayApp.reportparameter.maxlength">Maxlength</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="validation"><span jhiTranslate="gatewayApp.reportparameter.validation">Validation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="gatewayApp.reportparameter.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastmodifiedby"><span jhiTranslate="gatewayApp.reportparameter.lastmodifiedby">Lastmodifiedby</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="domain"><span jhiTranslate="gatewayApp.reportparameter.domain">Domain</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastmodifieddatetime"><span jhiTranslate="gatewayApp.reportparameter.lastmodifieddatetime">Lastmodifieddatetime</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="report.name"><span jhiTranslate="gatewayApp.reportparameter.report">Report</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reportparameter of reportparameters ;trackBy: trackId">
                <td><a [routerLink]="['../reportparameter', reportparameter.id ]">{{reportparameter.id}}</a></td>
                <td>{{reportparameter.label}}</td>
                <td>{{reportparameter.instructions}}</td>
                <td>{{reportparameter.datatype}}</td>
                <td>{{reportparameter.required}}</td>
                <td>{{reportparameter.minlength}}</td>
                <td>{{reportparameter.maxlength}}</td>
                <td>{{reportparameter.validation}}</td>
                <td>{{reportparameter.status}}</td>
                <td>{{reportparameter.lastmodifiedby}}</td>
                <td>{{reportparameter.domain}}</td>
                <td>{{reportparameter.lastmodifieddatetime | date:'medium'}}</td>
                <td>
                    <div *ngIf="reportparameter.report">
                        <a [routerLink]="['../report', reportparameter.report?.id ]" >{{reportparameter.report?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../reportparameter', reportparameter.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reportparameter/'+ reportparameter.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reportparameter/'+ reportparameter.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="reportparameters && reportparameters.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
