<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReportparameterLabel" jhiTranslate="gatewayApp.reportparameter.home.createOrEditLabel">Create or edit a Reportparameter</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!reportparameter.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="reportparameter.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.reportparameter.label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                [(ngModel)]="reportparameter.label"
            required />
            <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.label?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.reportparameter.instructions" for="field_instructions">Instructions</label>
            <input type="text" class="form-control" name="instructions" id="field_instructions"
                [(ngModel)]="reportparameter.instructions"
            required />
            <div [hidden]="!(editForm.controls.instructions?.dirty && editForm.controls.instructions?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.instructions?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.reportparameter.datatype" for="field_datatype">Datatype</label>
            <input type="text" class="form-control" name="datatype" id="field_datatype"
                [(ngModel)]="reportparameter.datatype"
            required />
            <div [hidden]="!(editForm.controls.datatype?.dirty && editForm.controls.datatype?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.datatype?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.reportparameter.required" for="field_required">Required</label>
            <input type="text" class="form-control" name="required" id="field_required"
                [(ngModel)]="reportparameter.required"
            required />
            <div [hidden]="!(editForm.controls.required?.dirty && editForm.controls.required?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.required?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.reportparameter.minlength" for="field_minlength">Minlength</label>
            <input type="text" class="form-control" name="minlength" id="field_minlength"
                [(ngModel)]="reportparameter.minlength"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.reportparameter.maxlength" for="field_maxlength">Maxlength</label>
            <input type="text" class="form-control" name="maxlength" id="field_maxlength"
                [(ngModel)]="reportparameter.maxlength"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.reportparameter.validation" for="field_validation">Validation</label>
            <input type="text" class="form-control" name="validation" id="field_validation"
                [(ngModel)]="reportparameter.validation"
             />
        </div>
        <div class="form-group">
            <label jhiTranslate="gatewayApp.reportparameter.report" for="field_report">Report</label>
            <select class="form-control" id="field_report" name="report" [(ngModel)]="reportparameter.report" >
                <option [ngValue]="null"></option>
                <option [ngValue]="reportOption.id === reportparameter.report?.id ? reportparameter.report : reportOption" *ngFor="let reportOption of reports; trackBy: trackReportById">{{reportOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
